<% layout('layout/boilerplate')%>

<%- include('../partials/socialheader') %> 
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">

                        <%- include('../partials/sideBar1') %> 
                        <div class="col-lg-6"><!-- centerl meta -->
                            <div class="central-meta">
                                <%- include('../partials/new-post') %> 
                            </div>
                            <div class="central-meta item">
                                <div class="user-post">
                                    <form action="">
                                        <button class="submit float-right">Follow</button>
                                    </form>
                                    <div class="friend-info">
                                        
                                        <figure>
                                            <img src="images/resources/friend-avatar10.jpg" alt="">
                                        </figure>
                                        <div class="friend-name">
                                            <ins><a href="time-line.html" title="">Janice Griffith</a></ins>
                                            <span>published: june,2 2018 19:PM</span>

                                        </div>
                                        <div class="">
                                            <h1>Loved the food at xyz</h1>
                                             <h6 class="text-muted">Kim-Chee Dais</h3>
                                                <p class="starability-result" data-rating=3>
                                                    Rated: 3  stars
                                                  </p>
                                        </div>
                                        <div class="post-meta">
                                            <img src="images/resources/user-post.jpg" alt="">
                                            <div class="we-video-info  ">
                                                <ul class="float-right">
                                                    <li>
                                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                                            <i class="fa fa-comments-o"></i>
                                                            <ins>52</ins>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="like" data-toggle="tooltip" title="like">
                                                            <i class="ti-heart"></i>
                                                            <ins>2.2k</ins>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
 
                                            <div class="description">     
                                                <p>
                                                    World's most beautiful car in Curabitur <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                                                </p>
                                            </div>
                                               <a href="" class="btn float-right">View post</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>

                        <%- include('../partials/sidebar3') %> 


                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section>